body{
    padding: 0;
    background-image: url("https://s1.imagehub.cc/images/2025/02/08/220ff6d4e5da2d6d3a8e78912b7156f3.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    font-family:Font;
}